body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}
h1#tit {
    background:rgb(207, 206, 206);
    color: black;
    font:  25pt Arial;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom-right-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 5px black;
    margin-right: 900px;
}
div#box1 {
    width: 120px;
    height: 70px;
    border: 1px solid rgb(168, 159, 159);
    padding: 10px 20px;
    background: rgb(136, 129, 129);
    border-radius: 10px; 
    position: relative; 
    top: 10px;
    
}
div#box3 {
    width: 120px;
    height: 70px;
    border: 1px solid rgb(168, 159, 159);
    padding: 10px 20px;
    background: rgb(136, 129, 129);
    border-radius: 10px; 
    position: relative; 
    top: 10px;
    
}
div#box2 {
    width: 120px;
    height: 90px;
    padding: 10px 20px;
    background: rgb(207, 206, 206);
    box-sizing: ;
    bottom: 20px;
    border-bottom-right-radius: 39px;
}
div#box4 {
    width: 120px;
    height: 90px;
    padding: 10px 20px;
    background: rgb(207, 206, 206);
    box-sizing: ;
    bottom: 20px;
}
h4#titulo1{
    text-align: center;
    margin-top: auto;
    
}
label#preço{
    text-align: center;
    margin: 0;
    position: absolute;
    margin-left: 23px;
    margin-top: -10px; 
}
input#comprar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: black;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto    
}
section{
    display: inline-block;
}
div#linha{
    width: 300px;
    border: 1px solid rgb(168, 159, 159);
    border-radius: 2px;
    padding: 2px;
    background:rgb(168, 159, 159) ;
}